@import './base.css';

#app {
  /*max-width: 1280px;*/
  margin: 0 auto;
  padding: 2rem;
  width: 100vw;
  height: 100vh;
  font-weight: normal;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: var(--color-text);
  transition: 0.4s;
}
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    text-shadow: 0px 0px 10px #FFF;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 19fr;
    padding: 0 0rem;
    margin: 0;
  }
}
